* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {

    width: 100vW;
    height: 100vH;
    display: flex;
    justify-content: center;
    align-items: center;



    .board {
        
        width: calc(90px*8);
        height: calc(90px*8);
        display: flex;
        flex-wrap: wrap;


        .cell {
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &.black {
                background-color: deepskyblue;

            }

            &.white {

                background-color: lightgoldenrodyellow;

            }
        
            &.selected{
            border: 5px solid brown;
            }

            &.available{ 
            border: 5px solid green;
                }
                    
            .available{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: #22c022;
                position: absolute;
                left: calc(50% - 6px);
                top: calc(50% - 6px); 
                }

        }
    }



    .figurine {
        
        background-image: url("../img/chess.png");
  background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    &.black{
        background-position-y: 5px;
        }
    &.white{
        background-position-y: -75px;
        }
    &.king {
            background-position-x: 5px;
        
        }
    &.queen { 
            background-position-x: -75px;
        }
    &.rook { 
            background-position-x: -151px;
        }
    &.bishop { 
            background-position-x: -228px;
        }
    &.knight { 
            background-position-x: -307px;
        }
    &.pawn { 
            background-position-x: -385px;
        }
        }
}

   